@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-appback: #f4f4f4;
  --color-apptext: #030528;
  --color-appsubtext: #778595;
  --color-appaction: #34ebb6;
  --color-appaccent: #ee326f;
  --font-roboto: "Roboto", sans-serif;
}

html {
  touch-action: none;
  height: 100lvh;
  overflow: hidden
}

body {
  @apply bg-appback text-apptext;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background: var(--tg-theme-bg-color);
  height: 100lvh;
  overflow: hidden;
}

.page {
  @apply h-screen flex flex-col justify-center items-center overflow-y-hidden w-full;
}

.container {
  @apply max-w-7xl mx-auto my-0 py-0 px-10;
}

.tgui-8e15431b81f6601e .tgui-db9be63c4fecf79b {
  background: transparent;
}

.rotate {
  animation: 0.8s forwards rotate;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.logo g path {
  fill: var(--tgui--accent_text_color);
}

.movie-card {
  grid-area: 1 / 1;
  transition: transform 0.125s;
  opacity: 1;
  will-change: transform;
  transform: scale(0.98) rotate(6deg);
  width: 220px;
  display: block;
  height: 280px;
  cursor: grab;
  border-radius: 8px;
  position: relative;
  width: 252px;
  height: 344px;
}

.movie-card:nth-child(2n + 1) {
  transform: rotate(-6deg);
}

.movie-card:nth-child(2n) {
  transform: rotate(6deg);
}

.tgui-97f2df57786b02dc:before {
  background-color: #f4f4f7;
}
